<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/styles/style.css">
	<title>User activity emulator</title>
</head>
<body>

	<form method="POST" action="/">
		<div>
			<input id="startBtn" type="submit" name="mybutton" value="Start" class="favorite styled" style="background-color: green; font-size: 24px;" >
		</div>
		<br/>
		<div>
			<input id="stopBtn" type="submit" name="mybutton" value="Stop" class="favorite styled" style="background-color: red; font-size: 24px;" >
		</div>
	</form>
</body>
</html>
